<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-4">Result</h1>
        <p class="lead">You submitted: <strong><%= params[:word].upcase %></strong></p>
        <p class="lead"><%= @message %></p>
        <%= link_to "Play again", new_path, class: "btn btn-primary" %>
    </div>
</div>
